# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment / secrets
.env
.streamlit/secrets.toml

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# Training datasets / training runs
helmet_dataset/
runs/

# NOTE:
# Do NOT ignore *.pt
# YOLO model files are required in GitHub.