# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment / secrets
.env
.streamlit/secrets.toml

# YOLO model weights
*.pt
*.onnx

# Temporary files
*.tmp

# OS files
.DS_Store
Thumbs.db
helmet_dataset/
runs/